/* Page */
body {
    min-height: 100vh;
    margin: 0;
    background: rgba(240, 240, 240, 0.8);
    display: flex;
    flex-direction: column;
}

.header {
    margin-top: 2rem;
    text-align: center;
    font-size: 25px;
}

.h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 22px;
}

.black {
    color: var(--color-secondary);
}

.grey {
    color: grey;
}

/* Small boxes */

.small-container {
    display: flex;
    justify-content: center;
    margin: 1.5rem;
    flex-wrap: wrap;
}

.boxes {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    padding: 8px;
    text-align: center;
    margin: 1rem;
    transition: transform 0.5s ease, box-shadow 0.5s ease, font-weight 0.3s ease;
}

.boxes img {
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.boxes:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    font-weight: bold;
}

/* Big Display Boxes */

.container {
    display: flex;
    justify-content: center;
    margin: 1rem;
    margin-top: 2rem;
    flex-wrap: wrap;
}

.box {
    width: 350px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-radius: 20px;
    padding: 20px;
    margin: 1rem;
    font-size: 25px;
    font-weight: bold;
    transition: transform 0.5s ease, box-shadow 0.5s ease, font-weight 0.3s;
}

.box img {
    flex-grow: 1;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.box:first-child {
    background-color: black;
    color: white;
}

.box:nth-child(3) {
    background: rgba(255, 180, 224, 0.2);
}

.box:nth-child(2) {
    background: rgba(0, 255, 42, 0.1);

}

.box:nth-child(4) {
    background: rgba(252, 235, 179, 0.2);

}

.box:nth-child(5) {
    background: rgba(188, 217, 245, 0.2);

}

.box:last-child {
    background: rgba(155, 155, 155, 0.2);
}

.box-title {
    padding-top: 10px;
    padding-left: 10px;

}


.box:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
}